.msg{
	padding-top: 15px;
	font-size: 18px;
	align-content: center;
	font-weight: bold;
	height: 300px;
	font-size: 15px;
}

.switch {
	margin-top: 50px;
 	position: relative;
 	display: inline-block;
 	width: 90px;
	 height: 34px;
}

.switch input {
	display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

#header {
	width: 100%;
	top: 0%;
	height: 60px;
	color: #0b0c10;
	background-color: #66fcf1;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 15px;
	position: fixed;
	z-index: 1;
}

.footer {
	position: fixed;
	color: #0b0c10;
	right: 0;
	bottom: 0;
	left: 0;
	height: 18px;
	width: 100%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #66fcf1;
}

.button {
	float: right;
	height: 56px;
	width: 100px;
	line-height: 56px;
	border: 2px solid #66fcf1;
	color: #0b0c10;
}

.button:hover {
	background-color: #0b0c10;
	color: #66fcf1;
	border: 2px solid #0b0c10;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'OFF';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 10px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'ON';
}

.error{
	color: rgb(255, 0, 0);
}
.success{
	color: rgb(0, 0, 255);
}
body {
	margin: 0;
	background: url(/Camagru/img/Signup.png);
	background-color: #0000007a;
   	background-size: cover;
   	background-position: relative;
	font-family:  monospace;
}
label {
	font-size: 140%;
	align-content: center;
	color: #c5c6c7;
}
#login {
	border:  solid #66fcf1;
	position: fixed;
	top: 5%;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	width: 250px;
	height: 230px;
	margin: auto;
	background-color: #1f2833c9;
	padding: 5px;
}
.main_head {
	height: 140px;
	padding-top: 6%;
	bottom: 5%;
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 880%;
	text-shadow: 2px 2px 5px #000000;
	color: #66fcf1;
}
#blue {
	align-content: center;
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #d8d8d8;
	width: 90%;
	border: 0;
	margin: 5px 0 15px;
	padding: 15px;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.title {
	text-align: center;
	font-weight: bold;
	font-size: 250%;
	margin-bottom: 20px;
	color: #c5c6c7;
}
input {
	width: 214px;
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	right: 5%;
}
.form input:hover {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	background-color: white;
	border: 2px solid #1f2833;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input:active {
	/* -webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	background-color: white;
	border: 2px solid #1f2833;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type="submit"] {
	height: 80%;
	font-weight: bold;
	font-size: 110%;
	background-color: #1f2833;
	border: 2px solid #66fcf1;
	color: #edf5e1;
	text-align: center;
	vertical-align: middle;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	position: absolute;
	top: 135%;
	right: 5%;
	vertical-align: middle;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	z-index: 3;
}
input[type="submit"]:hover {
	background-color: #66fcf1;
	border: 2px solid #1f2833;
	color: black;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.help {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	color: #66fcf1;
}
.help:hover {
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	color: blue;
}
